/* Defined main css */
:root {
    --midnightBlue: #001F3F;
    --silver: #A2A2A2;
    --gold: #FFD700;
    --ghostWhite: #fbfbff;
}

.mb-0 {
    margin-bottom: 0;
}


/* * ----- BODY STYLE ----- */
body {
    font-family: 'Roboto', sans-serif !important;
    background-color: var(--midnightBlue) !important;
    color: var(--ghostWhite) !important;
}

/* *  ----- HEADER STYLE ----- */
header {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 18, 34) 98.6%);
}

.header-title {
    color: var(--gold);
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

/* *  ----- MAIN SECTION STYLE ----- */
#main-content {
    margin-top: 2rem;
}

.container-bottom {
    margin-bottom: 110px;
}

/*   ----- SIDEBAR STYLE ----- */
#search-form {
    padding-right: 0px;
}

.movie-search {
    font-size: 10pt !important;
}

.dropdown-item {
    font-size: 10pt !important;
}

.movie-info-button {
    text-align: left;
}

/*   ----- MOVIE INFO STYLE ----- */
#movie-title {
    font-size: 28pt;
    font-weight: 700;
}

.movieInfo-bold {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

.bg-secondary {
    --bs-bg-opacity: 0.4 !important;
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}

.no-trailer-link {
    text-decoration: none;
    color: var(--gold);
}

.no-trailer-link:hover {
    transform: scale(1.2);
    color: var(--bs-warning);
    text-decoration: underline;
}

/* MODAL STYLE */
.modal-content {
    color: var(--bs-gray-900) !important;
    background-color: var(--bs-gray-500) !important;
}

/* *  ----- FOOTER STYLE ----- */
footer {
    background-color: var(--midnightBlue);
}

.github-link {
    color: var(--gold);
    margin: 0 10px;
    transition: transform 0.3s;
    text-decoration: none;
}

.github-link:hover {
    transform: scale(1.2);
    text-decoration: none;
}

.linkDecorNone {
    text-decoration: none;
}

.ftr-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ftr-copy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--bs-gray-500);
    margin-bottom: 0px;
}


/* * -------------------- Break Point -------------------- */

/* * --- Media Query for Tablets --- */
/* applies to medium devices (tablets, less than 991px) */
@media only screen and (max-width: 991px) {

    /* * ----- HEADER STYLE ----- */
    header {
        text-align: center;
    }

    /* * ----- MAIN CONTAINER STYLE ----- */
    /* SIDEBAR */
    #watchlist-header {
        text-align: center;
    }

    .watchlist-item {
        text-align: center;
    }

    #div-clear-history-button {
        display: flex !important;
        justify-content: center;
    }

    /* MOVIE CONTAINER */
    #movie-header {
        text-align: center;
    }

    #div-movie-poster {
        text-align: center;
    }

    /* * ----- FOOTER STYLE ----- */
    .ftr-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ftr-copy {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vh !important;
    }

}

/*  -------------------- END Break Point -------------------- */