/* CAN DELETE THESE - JUST CHECKING BOX POSITION */

#movie-trailer {
    border: 2px solid red;
}

#movie-info{
    border: 2px solid blue;
}

#movie-poster{
    border: 2px solid yellow;
}

#movie-header{
    border: 2px solid orange;
}

/* CAN DELETE THESE - JUST CHECKING BOX POSITION */


/* Defined main colours */
:root {
    --midnightBlue: #001F3F;
    --silver: #A2A2A2;
    --gold: #FFD700;
    --ghostWhite: #fbfbff;
}

