/* CAN DELETE THESE - JUST CHECKING BOX POSITION */

#aside-watchlist {
    border: 2px solid green;
}

#movie-header {
    border: 2px solid orange;
}

#movie-info {
    border: 2px solid blue;
}

#movie-poster {
    border: 2px solid yellow;
}

#movie-trailer {
    border: 2px solid red;
}

/* CAN DELETE THESE - JUST CHECKING BOX POSITION */


/* Defined main colours */
:root {
    --midnightBlue: #001F3F;
    --silver: #A2A2A2;
    --gold: #FFD700;
    --ghostWhite: #fbfbff;
}

/* * ----- BODY STYLE ----- */
body {
    font-family: 'Roboto', sans-serif !important;
    background-color: var(--midnightBlue) !important;
    color: var(--ghostWhite) !important;
}

/* *  ----- HEADER STYLE ----- */
header {
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 18, 34) 98.6%);
}

.header-title {
    color: var(--gold);
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

/* *  ----- MAIN SECTION STYLE ----- */
/*   ----- SIDEBAR STYLE ----- */
#search-form {
    padding-right: 0px;
}